# Ignore Visual Studio Code settings folder
.vscode/

# Ignore environment variable file
.env

# Ignore files starting with an underscore (e.g., _config, _env)
__pycache__/

# Ignore all database files (.db)
*.db

# Ignore virtual environment folder
venv/
