<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %}Панель управления Ботом{% endblock %}</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/style.css') }}"
		/>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
	<body>
		<div class="container">
			<header class="main-header">
				<nav class="navigation">
					<a
						href="{{ url_for('dashboard_page') }}"
						class="nav-link {% if request.endpoint == 'dashboard_page' %}active{% endif %}"
						>Dashboard</a
					>
					<a
						href="{{ url_for('users_page') }}"
						class="nav-link {% if request.endpoint == 'users_page' %}active{% endif %}"
						>Пользователи</a
					>
					<a
						href="{{ url_for('settings_page') }}"
						class="nav-link {% if request.endpoint == 'settings_page' %}active{% endif %}"
						>Настройки</a
					>
					<a
						href="https://github.com/evansvl/vless-shopbot?tab=readme-ov-file#%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C-%D1%80%D0%B0%D0%B7%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%BA%D1%83-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0"
						class="nav-link"
						target="_blank"
						>Поддержать разработку</a
					>
				</nav>

				<div class="header-controls">
					<div class="bot-control">
						{% if bot_status.is_running %}
						<p class="status-running">Статус: <strong>Запущен</strong></p>
						<form action="{{ url_for('stop_bot_route') }}" method="post">
							<button type="submit" class="button button-stop button-small">
								Остановить
							</button>
						</form>
						{% else %}
						<p class="status-stopped">Статус: <strong>Остановлен</strong></p>
						{% if all_settings_ok %}
						<form action="{{ url_for('start_bot_route') }}" method="post">
							<button type="submit" class="button button-start button-small">
								Запустить
							</button>
						</form>
						{% else %}
						<button class="button button-disabled button-small" disabled>
							Запустить
						</button>
						{% endif %} {% endif %}
					</div>

					<div class="user-session-controls">
						<span>Вы вошли в систему.</span>
						<form
							action="{{ url_for('logout_page') }}"
							method="post"
							style="display: inline"
						>
							<button type="submit" class="button button-logout">Выйти</button>
						</form>
					</div>
				</div>
			</header>

			{% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %} {% for category, message in messages %}
			<div class="flash flash-{{ category }}">{{ message }}</div>
			{% endfor %} {% endif %} {% endwith %}

			<main>{% block content %}{% endblock %}</main>
		</div>

		<footer class="main-footer"></footer>
		<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	</body>
</html>
